body {
    font-family: Arial, sans-serif;
}


#Home
{
margin:10px;
}


#advance {
    font-family: Arial,sans-serif;
    color: #d93025;
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 25px;
    vertical-align: baseline;
    text-decoration: none;
    margin-left: 10px;
}

#hr{
   
}

#top
{
    
   
}
.sub {
    display: flex;
    font-family: Arial, sans-serif ;
    font-size: 15px;
    margin-bottom:10px;
   
}
.text {
    font-family: Arial, sans-serif;
    margin-right:10px;
}
.box {
    width: 250px;
    height: 25px;
    border-radius: 0px;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
    border: 1px solid#dfe1e5 ;
    padding:10px;
    margin:10px;
}

input[value="Advanced Search"] {
    margin-left: 200px;
    margin-top: 30px;
    border-radius: 2px;
    cursor: default;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    outline: 0;
    box-shadow: none;
    background-color: #4d90fe;
    background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
    border: 1px solid #3079ed;
    color: #fff;
    padding: 0 12px;
    float: right;
    margin: 10px 0;
    user-select: none;
    line-height: 100%;
    height: 30px;
    min-width: 120px;
   
}
    input[value="Advanced Search"]:hover {
        background-color: darkblue !important;
    }


#none {
    margin-top:20px;
    font-family: Arial, sans-serif;
    font-size: 20px;
}
